 
/* NAV BAR AT THE TOP AND ONE COLUMN OF CONTENT */
    div#content {
        position: relative;
        width: 90%;        
        margin: 0 auto 20px auto;
        padding: 0;        
        text-align: left;
    }
    div#main {
        width: 100%;
    }
    div#local {
        width: 100%;
        margin-bottom: 1.2em;
    }
    div#sub {
        width: 100%;
        font-size: 0.9em;
    }
    div#staff div {
    	margin: 1em;
        font-size: 0.9em;    	
    }
    div#staff p {
    	margin: 0 0 0.5em 0;
    }
    div#staff ul {
    	margin: 0.5em 0 0.5em 0;    
    	list-style: none;
    }
    div#staff ul li {
    	display: inline;
    	margin: 0 7px;
    	padding: 0;
    }
/* END CONTENT */